<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Success 🎉</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="logo">🌜Crescent Moon Poems</div>

<div class="container center">
    <h2>🎉 Poem Saved Successfully 💖</h2>

    <p class="subtitle">
        Your emotions are now beautifully stored ✨
    </p>

    <div class="btn-group">
        <a href="/home" class="link-btn big-btn">🏠 Go to Home</a>
        <a href="/write" class="link-btn">✍ Write Another</a>
    </div>
</div>

</body>
</html>